/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:#0f2e3d;
    border: radius 70px; ;            
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07242e;
    color: white;
    padding: 15px 30px;
    font-display: white;
    border: radius 70px;  
    animation:mymove 5s ease forwards; 
}

header h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: rgb(4, 147, 199);
    text-decoration: none;
    font-size: 28px;
    transition: 0.3s;
    font-weight: 300;
    margin-left: 35px;
}

nav a:hover, .active {
    color: #ffcc00;
}

/* Home Section */
.Home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 10% 0;
    background-color:#0f2e3d;
    position: relative;
}    

.content-box {
    max-width: 50%;
    margin: 30px;
    text-align: center;

}

.icon-box i {
    font-size: 24px;
    margin: 30px 15px 10px 5px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #00e5ff;
    border-radius: 20px;
    color: #00e5ff;
    text-decoration: none;
    box-shadow: 20px;
    justify-content: flex-end;
}

.icon-box i:hover {
    color: #021f25;
    background: #00e5ff;
    box-shadow: 0 0 20px #00fffb;
}
           
.text-box h1 {
    font-size: 100px;
    margin-top: 20px;
    min-height:120vh; 
    font-weight: 700;
    gap: 40px;
}


.skills {
    color: #ff6600;
    font-weight: bold;
    
}

.text-box p {
    font-size: 30px;
    margin: 90px;
    line-height: 30%;
}

.btn {
    background-color: #00c8ff;
    color: rgb(132, 5, 132);
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
    border-radius: 40px;
    display: inline-block;
    font-weight: 600;
    margin: 50px; 
}

.btn:hover {
    box-shadow:0 0 5px cyan;
    
    
}

img {
    width:15%;
    border-radius: 300px;
    background-color: #00c8ff;
    box-shadow:20px 40px 50px rgb(13, 252, 252);
    border: 5px solid hsl(182, 60%, 17%);
    border-right: 100px;
    border-left: 100px;
    align-items: center;
    margin-left: 150px;
    background-image: #01011ae1;
                      
}
@keyframes mymove {
    from {left: 0px}
    to {left:200px}

    
}