/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:#1b1e1d
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px 30px;
    font-display: white;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: rgb(4, 147, 199);
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    font-weight: 500;
    margin-left: 35px;
}

nav a:hover, .active {
    color: #ffcc00;
}

/* Home Section */
.Home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color:#044667
}

.content-box {
    max-width: 50%;
    
}

.icon-box i {
    font-size: 24px;
    margin: 30px 15px 10px 5px;
    cursor: pointer;
    transition: 0.3s;
    display:inline-flex;
    width: 40px;
    height: 40px;
    border: 2px solid #00e5ff;
    border-radius: 20px;
    color: #00e5ff;
    text-decoration: none;
}

.icon-box i:hover {
    color: #021f25;
    background: #00e5ff;
    box-shadow: 0 0 20px #00fffb;
}

.text-box h1 {
    font-size: 36px;
    margin-top: 10px;
    min-height:90vh; 
    font-weight: 700;
}


.skills {
    color: #ff6600;
    font-weight: bold;
}

.text-box p {
    font-size: 18px;
    margin-bottom: 50px 0;
    line-height: 30%;
}

.btn {
    background-color: #00c8ff;
    color: rgb(132, 5, 132);
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
    border-radius: 40px;
    display: inline-block;
    font-weight: 600;
}

.btn:hover {
    box-shadow:0 0 5px cyan;
    
    
}

img {
    width:30%;
    border-radius: 150px;
    background-color: #00c8ff;
    box-shadow:10px 10px 10px;
    border: 5px solid #00f7ff;
    position: relative;
}
